{% extends "::base.html.twig" %}
    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets
        '%kernel.root_dir%/../vendor/jasmine/jasmine/lib/jasmine-core/jasmine.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts
        '%kernel.root_dir%/../vendor/jasmine/jasmine/lib/jasmine-core/jasmine.js'
        '%kernel.root_dir%/../vendor/jasmine/jasmine/lib/jasmine-core/jasmine-html.js'
        '%kernel.root_dir%/../vendor/jasmine/jasmine/lib/jasmine-core/boot.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {# include sourece files here #}
        {{ parent() }}

        {# include specs/source files here #}
        {% javascripts '@jasmine' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
